<ion-view align-title="left" hide-nav-bar="true">
    <!--hide-nav-bar="true"-->
    <ion-content style="background: url(img/shopping1.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Brandname24</h1>
            </div>
        </div>
        <!--<div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        -->
         <div class="padding signup">
            <p>
                <h4>- - - -  SIGN UP OR LOGIN WITH - - - -  </h4>
            </p>
            <button ng-hide="authData" ng-click="login()" class="button button-block button-border icon-left ion-social-facebook button-positive ink">Facebook</button>
            <button ng-show="authData" ng-click="logout()" class="button button-block button-border icon-left ion-social-facebook button-positive ink">Logout</button>
        </div>
        <!-- <div class="padding">
        <h4>- - - -  SIGN UP OR LOGIN WITH - - - -  </h4>
        </div>
        <div class="button-bar">
            <button class="button button-small button-border icon-left ion-social-facebook button-positive ink">Facebook</button>
            <button class="button button-small button-border icon-left ion-social-google button-assertive ink">Google+</button>
            <button class="button button-small button-border icon-left ion-email button-stable ink">Email</button>
        </div>-->
    </ion-content>
</ion-view>
