<ion-modal-view class="searchfilter">
    <ion-header-bar align-title="center" class="bar bar-header bar-stable ">
        <button class="button button-icon button-clear ion-chevron-left" ng-click="modal_filter.hide()">
        </button>
        <h1 class="title">Filter</h1>
        <button class="button button-icon button-clear ion-checkmark" ng-click="CheckValidateFilter()"></button>
    </ion-header-bar>

    <ion-content class="padding">
        <h5>SORT BY</h5>
        <ion-list>
            <ion-radio ng-model="filter.type" ng-value="'1'" ng-click="SetmodalFilter(filter)">
                <i class="icon-left icon ion-arrow-graph-up-right"></i> Poppular
            </ion-radio>
            <ion-radio ng-model="filter.type" ng-value="'2'" ng-click="SetmodalFilter(filter)">
                <i class="icon-left icon ion-clock"></i> Recent
            </ion-radio>
            <ion-radio ng-model="filter.type" ng-value="'3'" ng-click="SetmodalFilter(filter)">
                <i class="icon-left icon ion-arrow-up-c"></i> Lowest Price
            </ion-radio>
            <ion-radio ng-model="filter.type" ng-value="'4'" ng-click="SetmodalFilter(filter)">
                <i class="icon-left icon ion-arrow-down-c"></i> Highest Price
            </ion-radio>
           <!--      <ion-radio ng-model="filter.type" ng-value="'5'" ng-click="SetmodalFilter(filter)">
            <i class="icon-left icon ion-navigate"></i> Nearest
                  </ion-radio> -->
        </ion-list>
        <h5>Price Range</h5>
        <div class="list list-price">
            <label class="item item-input">
                <div class="input-label">
                    Minimum
                </div>
                <input type="number" ng-model="filter.price_min" ng-keyup="SetmodalFilter(filter)">
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Maximum
                </div>
                <input type="number" ng-model="filter.price_max" ng-keyup="SetmodalFilter(filter)">
            </label>
        </div>
    </ion-content>
</ion-modal-view>
