<ion-view hide-back-button="true" cache-view="false">
    <ion-nav-title align-title="left" class="bar bar-header bar-stable item-input-inset">
        <button menu-toggle="left" class="white button button-icon icon ion-navicon"></button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
    </ion-nav-title>
    <ion-content>
        <!--<button class="button button-dark button-fab button-fab-bottom-right" ng-click="modal_new.show()">
            <i class="icon ion-plus"></i>
        </button>
        -->
        
        <md-list flex>
            <!--<md-divider></md-divider>
                                <md-subheader class="md-no-sticky"></md-subheader>-->
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/v/t1.0-9/10391798_10207508744589649_3690225833166184703_n.jpg?oh=210f5a4969928e1883792d99c137d3f6&oe=5809BDFF" class="md-avatar" alt="Flook Chalermpong Chomputip" />
                <div class="md-list-item-text" layout="column">
                    <h3>Flook Chalermpong Chomputip</h3>
                    <span class="time">10 May 2016</span>
                    <p>
                        รับซื้อ ขาย ของเก่า ของสะสม By pawn.in.th
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk2-2.fna.fbcdn.net/t31.0-8/q84/p960x960/10733892_896416427069495_3722033796180074053_o.jpg" class="md-avatar" alt="Prasopchokk091" />
                <div class="md-list-item-text" layout="column">
                    <h3>Prasopchokk091</h3>
                    <span class="time">5 May 2016</span>
                    <p>
                        ขาย เครื่องบันทึกกล้องวงจรปิด DVR Raysharp 960H 8 ช่อง ครับ
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-3-line" ui-sref="forum.detail({id:1})">
                <img src="https://scontent.fbkk1-2.fna.fbcdn.net/t31.0-8/s960x960/12901029_1068586706541502_6317454727540506776_o.jpg" class="md-avatar" alt="Saengaroon" />
                <div class="md-list-item-text" layout="column">
                    <h3>Saengaroon</h3>
                    <span class="time">1 May 2016</span>
                    <p>
                        พีรพล ทักษิณทวีทรัพย์ รับซื้อขายป้ายทะเบียนประมูล ป้ายกราฟฟิค จัดหาป้ายเลขสวย
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </ion-content>
</ion-view>
